body {
    background-image: url(../img/wallpaper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.containerpage {
    margin-block: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: #013440;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: white;
    font-family: 'Aldrich';

}

article {
    background-color: #4b3247d7;
    max-width: 70%;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

.sessao2-1, .sessao2-2, .sessao2-3 {
    padding: 10px;
} 

.sessao2-3-1, .sessao2-3-2, .sessao2-3-3, .sessao2-3-4, .sessao2-3-5, .sessao2-3-6 {
    padding: 5px 15px;
} 

.sessao-meto img {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    height: auto;
}

.sessao-referencias li a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}


h3 {
    font-size: 1.5rem;    
    color: white;
    font-family: 'Aldrich';
}

p {
    text-align: justify;
}

p, li, a {
    color: white;
    font-family: 'Unna';
    font-size: large;
}

footer {
    width: 100%;
    background-color: #013440;
    padding: 2px 0;
}

footer p {
    text-align: center;
    color: white;
}

/* media queries */
@media (max-width: 1024px) {
    body {
        background-attachment: scroll;
    }
    article {
        max-width: 85%;
        padding: 15px;
    }

    .sessao-meto img {
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    body {
        background-position: 80% 10%;
    }
    header h1 {
        font-size: 16px;
        margin: 10px 5px;
    }

    p, li, a {
        font-size: 1rem;
    }

    article {
        max-width: 85%;
        margin: 10px;
        padding: 10px;
    }
}
